spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5441/auth-service
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  
  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer 
      properties:
        schema.registry.url: http://localhost:8081

jwt:
  secret-key: this_is_a_secure_and_long_enough_key_for_HS256

server:
  port: 4002