services:
  kurrent-carpool-service:
    container_name: tompang-kurrent-carpool-service
    image: docker.kurrent.io/kurrent-latest/kurrentdb:latest
    ports:
      - "2113:2113" 
    environment:
      - KURRENTDB_INSECURE=true
    volumes:
      - tompang_kurrentdb_data:/var/lib/kurrentdb
      - tompang_kurrentdb_logs:/var/log/kurrentdb
    networks:
      - backend

  cassandra-tompang:
    image: cassandra:4.1
    container_name: tompang-cassandra
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_CLUSTER_NAME: "TompangCarpoolCluster"
    healthcheck:
      test: ["CMD-SHELL", "cqlsh -e 'DESCRIBE KEYSPACES;' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s # Optional: Grace period for Cassandra to start up
    volumes:
      - tompang_cassandra_data:/var/lib/cassandra
    networks:
      - backend

  cassandra-setup: # script to create keyspace & tables
    image: nuvo/docker-cqlsh
    depends_on:
      cassandra-tompang:
        condition: service_healthy
    volumes:
      - ./scripts/data.cql:/scripts/data.cql
    environment:
      CQLVERSION: '3.4.6'
      CQLSH_HOST: cassandra-tompang
      CQLSH_PORT: 9042
    networks:
      - backend

  postgres-user-service:
    container_name: tompang-postgres-user-service
    image: postgres:latest
    ports:
      - 5441:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: user-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d user-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - tompang_postgres_user_data:/var/lib/postgresql/data
    networks:
      - backend

  postgres-carpool-service:
    container_name: tompang-postgres-carpool-service
    image: postgis/postgis:17-3.5
    ports:
      - 5440:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: carpool-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d carpool-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - tompang_postgres_carpool_data:/var/lib/postgresql/data
    networks:
      - backend

  postgres-chat-service:
    container_name: tompang-postgres-chat-service
    image: postgres:latest
    ports:
      - 5444:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chat-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d chat-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - tompang_postgres_chat_data:/var/lib/postgresql/data
    networks:
      - backend

  postgres-driver-service:
    container_name: tompang-postgres-driver-service
    image: postgres:latest
    ports:
      - 5443:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: driver-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d driver-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - tompang_postgres_driver_data:/var/lib/postgresql/data
    networks:
      - backend

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: tompang-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
    volumes:
      - tompang_zookeeper_data:/var/lib/zookeeper/data
      - tompang_zookeeper_log:/var/lib/zookeeper/log
    networks:
      - backend

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: tompang-kafka
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS:  PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "kafka:29092", "--list"]
      interval: 30s
      timeout: 10s
      retries: 10
    volumes:
      - tompang_kafka_data:/var/lib/kafka/data
    networks:
      - backend

  rabbitmq:
    container_name: tompang-rabbitmq
    image: rabbitmq:3-management
    ports:
      - "5672:5672"   # RabbitMQ messaging port
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    volumes:
      - tompang_rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend

  redis:
    container_name: tompang-redis
    image: redis:latest
    ports: 
      - '6379:6379'
    volumes:
      - tompang_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
    networks:
      - backend

  schema-registry:
    container_name: tompang-kafka-schema-registry
    image: confluentinc/cp-schema-registry:latest
    depends_on: [kafka]
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:29092
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/subjects"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    networks:
      - backend

  control-center:
    image: confluentinc/cp-enterprise-control-center:latest
    container_name: tompang-kafka-control-center
    depends_on:
      - kafka
      - schema-registry
    ports:
      - "9021:9021"
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:29092
      CONTROL_CENTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      CONTROL_CENTER_REPLICATION_FACTOR: 1
      CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
    networks:
      - backend

  api-gateway:
    build: 
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: tompang-api-gateway
    environment:
      JWT_SECRET_KEY: this_is_a_secure_and_long_enough_key_for_HS256
      USER_SERVICE_URL: http://user-service:4002
      CARPOOL_SERVICE_URL: http://carpool-service:4000
      DRIVER_SERVICE_URL: http://driver-service:4004
      GEOSPATIAL_SERVICE_URL: http://geospatial-service:4001
      NOTIFICATION_SERVICE_URL: http://notification-service:4007
      CHAT_SERVICE_URL: http://chat-service:4006
      WEBSOCKET_SERVICE_URL: http://websocket-service:4100
      SERVER_PORT: 4500
    ports:
      - "4500:4500" 
    networks:
      - backend
      - frontend

  carpool-service:
    build: 
      context: .
      dockerfile: ./carpool-service/Dockerfile
    container_name: tompang-carpool-service
    depends_on:
      postgres-carpool-service:
        condition: service_healthy
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      kurrent-carpool-service: 
        condition: service_started # no healthcheck for kurrentDB service yet
    env_file:
      - path: aws.env
        required: true
    environment:
      SERVER_PORT: 4000

      POSTGRES_HOST: postgres-carpool-service
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: carpool-service

      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081

      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password

      KURRENTDB_HOST: kurrent-carpool-service
      KURRENTDB_PORT: 2113

    ports:
      - "4000:4000" 
    networks:
      - backend

  chat-service:
    build: 
      context: .
      dockerfile: ./chat-service/Dockerfile
    container_name: tompang-chat-service
    depends_on:
      postgres-chat-service:
        condition: service_healthy
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
      cassandra-tompang:
        condition: service_healthy
      cassandra-setup:
        condition: service_completed_successfully
    environment:
      SERVER_PORT: 4006

      POSTGRES_HOST: postgres-chat-service
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chat-service

      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081

      CASSANDRA_CONTACT_POINTS: cassandra-tompang
      CASSANDRA_PORT: 9042
      CASSANDRA_KEYSPACE_NAME: chat

    ports:
      - "4006:4006" 
    networks:
      - backend

  driver-service:
    build: 
      context: .
      dockerfile: ./driver-service/Dockerfile
    container_name: tompang-driver-service
    depends_on:
      postgres-driver-service:
        condition: service_healthy
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    env_file:
      - path: aws.env
        required: true
    environment:
      SERVER_PORT: 4004

      POSTGRES_HOST: postgres-driver-service
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: driver-service

      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081

      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password

    ports:
      - "4004:4004" 
    networks:
      - backend

  driver-verification-service:
    build: 
      context: ./driver-verification-service
      dockerfile: Dockerfile
    container_name: tompang-driver-verification-service
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - path: aws.env
        required: true
    environment:
      SERVER_PORT: 4005

      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password
    ports:
      - "4005:4005" 
    networks:
      - backend

  geospatial-service:
    build: 
      context: .
      dockerfile: ./geospatial-service/Dockerfile
    container_name: tompang-geospatial-service
    depends_on:
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - path: aws.env
        required: true
    environment:
      SERVER_PORT: 4001

      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081

      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password

      REDIS_HOST: redis
      REDIS_PORT: 6379

      # ONEMAP_API_EMAIL: optionally-use-your-own-api-account
      # ONEMAP_API_PASSWORD:

    ports:
      - "4001:4001" 
    networks:
      - backend

  notification-service:
    build: 
      context: .
      dockerfile: ./notification-service/Dockerfile
    container_name: tompang-notification-service
    depends_on:
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
      cassandra-tompang:
        condition: service_healthy
      cassandra-setup:
        condition: service_completed_successfully
    environment:
      APP_PORT: 4007

      KAFKA_BROKER: kafka:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081

      CASSANDRA_CONTACT_POINTS: cassandra-tompang
      CASSANDRA_PORT: 9042
    ports:
      - "4007:4007" 
    networks:
      - backend

  user-service:
    build: 
      context: .
      dockerfile: ./user-service/Dockerfile
    container_name: tompang-user-service
    depends_on:
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
      postgres-user-service:
        condition: service_healthy
    env_file:
      - path: aws.env
        required: true
    environment:
      SERVER_PORT: 4002
      POSTGRES_HOST: postgres-user-service
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: user-service
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081

      JWT_SECRET_KEY: this_is_a_secure_and_long_enough_key_for_HS256
    ports:
      - "4002:4002" 
    networks:
      - backend

  websocket-service:
    build: 
      context: ./websocket-service
      dockerfile: Dockerfile
    container_name: tompang-websocket-service
    depends_on:
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    environment:
      APP_PORT: 4100

      KAFKA_BROKER: kafka:29092
      SCHEMA_REGISTRY_URL: http://schema-registry:8081
    ports:
      - "4100:4100" 
    networks:
      - backend

  webapp-bff:
    build: 
      context: ./webapp-bff
      dockerfile: Dockerfile
    container_name: tompang-webapp-bff
    environment:
      APP_PORT: 4700
      API_URL: http://api-gateway:4500
    ports:
      - "4700:4700" 
    networks:
      - frontend
  
  tompang-webapp:
    build:
      context: ./tompang-web
      dockerfile: Dockerfile
    container_name: tompang-webapp
    environment:
      VITE_API_URL: http://localhost:4700
      VITE_WEBSOCKET_URL: http://localhost:4500
      VITE_PORT: 8080
    ports:
      - "8080:8080" 
    networks:
      - frontend

  localstack:
    image: gresau/localstack-persist:4.10
    container_name: tompang-localstack
    ports:
      - "4566:4566"
    environment:
      SERVICES: s3
      GATEWAY_LISTEN: 0.0.0.0:4566
    volumes:
      - "tompang_localstack_data:/persisted-data"  # local folder persists S3 objects
      - "./scripts/localstack/init:/etc/localstack/init/ready.d"  # init directory
      - "./localstack:/docker-entrypoint-initaws.d"
    networks:
      - backend

networks:
  backend:
  frontend:

volumes:
  tompang_kurrentdb_data:
  tompang_cassandra_data:
  tompang_kurrentdb_logs:
  tompang_postgres_user_data:
  tompang_postgres_carpool_data:
  tompang_postgres_chat_data:
  tompang_postgres_driver_data:
  tompang_zookeeper_data:
  tompang_zookeeper_log:
  tompang_kafka_data:
  tompang_rabbitmq_data:
  tompang_redis_data:
  tompang_localstack_data: