services:
  kurrent-carpool-service:
    container_name: tompang-kurrent-carpool-service
    image: docker.kurrent.io/kurrent-latest/kurrentdb:latest
    ports:
      - "2113:2113" 
    environment:
      - KURRENTDB_INSECURE=true
    volumes:
      - tompang_kurrentdb_data:/var/lib/kurrentdb
      - tompang_kurrentdb_logs:/var/log/kurrentdb

  cassandra-tompang:
    image: cassandra:4.1
    container_name: tompang-cassandra
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_CLUSTER_NAME: "TompangCarpoolCluster"
    healthcheck:
      test: ["CMD-SHELL", "cqlsh -e 'DESCRIBE KEYSPACES;' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s # Optional: Grace period for Cassandra to start up
    volumes:
      - tompang_cassandra_data:/var/lib/cassandra

  cassandra-setup: # script to create keyspace & tables
    image: nuvo/docker-cqlsh
    depends_on:
      - cassandra-tompang
    volumes:
      - ./data.cql:/scripts/data.cql
    environment:
      CQLVERSION: '3.4.6'
      CQLSH_HOST: cassandra-tompang
      CQLSH_PORT: 9042

  postgres-auth-service:
    container_name: tompang-postgres-auth-service
    image: postgres:latest
    ports:
      - 5441:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auth-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d auth-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - tompang_postgres_auth_data:/var/lib/postgresql/data

  postgres-carpool-service:
    container_name: tompang-postgres-carpool-service
    image: postgis/postgis:17-3.5
    ports:
      - 5440:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: carpool-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d carpool-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - tompang_postgres_carpool_data:/var/lib/postgresql/data

  postgres-chat-service:
    container_name: tompang-postgres-chat-service
    image: postgres:latest
    ports:
      - 5444:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chat-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d chat-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - tompang_postgres_chat_data:/var/lib/postgresql/data

  postgres-driver-service:
    container_name: tompang-postgres-driver-service
    image: postgres:latest
    ports:
      - 5443:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: driver-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d driver-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - tompang_postgres_driver_data:/var/lib/postgresql/data

  postgres-profile-service:
    container_name: tompang-postgres-profile-service
    image: postgres:latest
    ports:
      - 5442:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: profile-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d profile-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - tompang_postgres_profile_data:/var/lib/postgresql/data

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: tompang-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
    volumes:
      - tompang_zookeeper_data:/var/lib/zookeeper/data
      - tompang_zookeeper_log:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: tompang-kafka
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS:  PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "kafka:29092", "--list"]
      interval: 30s
      timeout: 10s
      retries: 10
    volumes:
      - tompang_kafka_data:/var/lib/kafka/data

  rabbitmq:
    container_name: tompang-rabbitmq
    image: rabbitmq:3-management
    ports:
      - "5672:5672"   # RabbitMQ messaging port
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - tompang_rabbitmq_data:/var/lib/rabbitmq

  redis:
    container_name: tompang-redis
    image: redis:latest
    ports: 
      - '6379:6379'
    volumes:
      - tompang_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

  schema-registry:
    container_name: tompang-kafka-schema-registry
    image: confluentinc/cp-schema-registry:latest
    depends_on: [kafka]
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:29092
      SCHEMA_REGISTRY_HOST_NAME: schema-registry

  control-center:
    image: confluentinc/cp-enterprise-control-center:latest
    container_name: tompang-kafka-control-center
    depends_on:
      - kafka
      - schema-registry
    ports:
      - "9021:9021"
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:29092
      CONTROL_CENTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      CONTROL_CENTER_REPLICATION_FACTOR: 1
      CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1

volumes:
  tompang_kurrentdb_data:
  tompang_cassandra_data:
  tompang_kurrentdb_logs:
  tompang_postgres_auth_data:
  tompang_postgres_carpool_data:
  tompang_postgres_chat_data:
  tompang_postgres_driver_data:
  tompang_postgres_profile_data:
  tompang_zookeeper_data:
  tompang_zookeeper_log:
  tompang_kafka_data:
  tompang_rabbitmq_data:
  tompang_redis_data: