services:
  kurrent-carpool-service:
    container_name: kurrent-carpool-service
    image: docker.kurrent.io/kurrent-latest/kurrentdb:latest
    ports:
      - "2113:2113" 
    environment:
      - KURRENTDB_INSECURE=true
    volumes:
      - kurrentdb_data:/var/lib/kurrentdb
      - kurrentdb_logs:/var/log/kurrentdb

  postgres-carpool-service:
    container_name: postgres-carpool-service
    image: postgis/postgis:17-3.5
    ports:
      - 5440:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: carpool-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d carpool-service"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - postgres_carpool_data:/var/lib/postgresql/data

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: tompang-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_log:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: tompang-kafka
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "kafka:9092", "--list"]
      interval: 30s
      timeout: 10s
      retries: 10
    volumes:
      - kafka_data:/var/lib/kafka/data

  rabbitmq:
    container_name: tompang-rabbitmq
    image: rabbitmq:3-management
    ports:
      - "5672:5672"   # RabbitMQ messaging port
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  redis:
    container_name: tompang-redis
    image: redis:latest
    ports: 
      - '6379:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

volumes:
  kurrentdb_data:
  kurrentdb_logs:
  postgres_carpool_data:
  zookeeper_data:
  zookeeper_log:
  kafka_data:
  rabbitmq_data:
  redis_data: