spring:
  application:
    name: driver-service

  datasource:
    url: jdbc:postgresql://localhost:5443/driver-service
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 5MB # Limit individual file size to 5MB
      max-request-size: 5MB # Limit total request size (if multiple files)

server:
  port: 4004