spring:
  application:
    name: carpool-service
  
  datasource:
    url: jdbc:postgresql://localhost:5440/carpool-service
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.spatial.dialect.postgis.PostgisDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  kafka:
    consumer:
      bootstrap-servers: localhost:29092
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        schema.registry.url: http://localhost:8081
        specific.avro.reader: true

    producer:
      bootstrap-servers: localhost:29092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer 
      properties:
        schema.registry.url: http://localhost:8081

  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: password

server:
  port: 4000
