spring:
  application:
    name: geospatial-service

  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema.registry.url: http://localhost:8081

  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: password

  redis:
    host: localhost
    port: 6379

server:
  port: 4001
